<div class="text_center">
  <h1 class="text_white">Produkte</h1>
</div>

<div class="element_center">
  <mat-card class="form_width spacer_1">
    <form>
      <mat-form-field class="full_width">
        <input matInput type="text" name="name" required ngModel #name="ngModel" placeholder="Name" maxLength="30">
      </mat-form-field>
      <mat-form-field class="full_width">
        <textarea matInput type="text" name="description" ngModel #description="ngModel" placeholder="Beschreibung"
          maxLength="255" rows="8"></textarea>
      </mat-form-field>
      <mat-form-field class="full_width">
        <input matInput type="number" name="price" required ngModel #price="ngModel" placeholder="Preis" maxLength="10">
      </mat-form-field>
    </form>

    <div class="content_flex_end">
      <button mat-raised-button color="primary" (click)="addProduct(name.value, price.value, description.value)">
        Produkt hinzufügen</button>
    </div>
  </mat-card>

  <br><br>
  <mat-list *ngFor="let product of products;">
    <mat-card class="form_width spacer_1">
      <div class="content_space_between">
        <p>{{ product.name }}</p>
        <button mat-mini-fab color="accent" aria-label="icon-button clear" (click)="deleteProduct(product._id)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <h4>Beschreibung</h4>
      <p>{{ product.description }}</p>
      <div class="content_flex_end">
        <p>Preis {{ product.price }} €</p>
      </div>
    </mat-card>
  </mat-list>
</div>
<br>