/* You can add global styles to this file, and also import other style files */
@import './res/variables';

@mixin bodyBackgroundColor {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin justifyContentType($type) {
  display: flex;
  justify-content: $type;
}

html {
  height: 100%;
  @include bodyBackgroundColor();
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.form_width {
  max-width: 500px;
  width: 100%;
}

.full_width {
  width: 100%;
}

.content_space_between {
  @include justifyContentType(space-between);
}

.content_flex_end {
  @include justifyContentType(flex-end);
}

.content_flex_start {
  @include justifyContentType(flex-start);
}

textarea {
  resize: none !important;
}

.spacer_1 {
  margin: $mat_space_1;
}

.space_right_1 {
  margin-right: $mat_space_1;
}

.text_center {
  text-align: center;
}

.text_white {
  color: $textcolor_darkbg;
}
